.duvidas{
  margin-top: 160px;
  margin-bottom: 160px;
}

.duvidas h2{
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-color);
}

.duvidas p{
  font-size: 20px;
  color: var(--black-color);
  line-height: 200%;
  margin-right: 80px;
}

.perguntas{
  margin-top: 60px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.um, .dois, .tres{
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 8px;
  border: solid var(--blue-color);
  margin-bottom: 20px;
  color: var(--blue-color);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3.086px;
}

.perguntas h3{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin: 0px;
}

.perguntas h3:after{
  content: " ";
  width: 34px;
  height: 34px;
  display: inline-block;
  background: no-repeat url('/img/setabaixo.svg');
  transition: 0.2s;
  grid-column: 3;
}

.perguntas h3:hover::after{
  transform: rotate(180deg);
}

.perguntas p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.24px;
}

@media(max-width: 800px){
  .duvidas{
    margin: 0px;
  }

  .duvidas h2{
    text-align: center;
  }

  #depoimento{
    text-align: center;
    margin: 0px;
  }
}